.icon-base {
    width: 24px;
    height: 24px;
}
.icon-BTC {
    background-image: url('../image/coin/btc.png');
    background-repeat: no-repeat;
}
.icon-FX_BTC {
    background-image: url('../image/coin/btc.png');
    background-repeat: no-repeat;
}
.icon-XEM {
    background: url('../image/coin/nem.png');
    background-repeat: no-repeat;
}
.icon-MONA {
    background: url('../image/coin/mona.png');
    background-repeat: no-repeat;
}
.icon-BCH {
    background: url('../image/coin/bch.png');
    background-repeat: no-repeat;
}
.icon-ETH {
    background: url('../image/coin/eth.png');
    background-repeat: no-repeat;
}
.icon-ETC {
    background: url('../image/coin/etc.png');
    background-repeat: no-repeat;
}
.icon-LSK {
    background: url('../image/coin/lsk.png');
    background-repeat: no-repeat;
}
.icon-FCT {
    background: url('../image/coin/fct.png');
    background-repeat: no-repeat;
}
.icon-XMR {
    background: url('../image/coin/xmr.png');
    background-repeat: no-repeat;
}
.icon-REP {
    background: url('../image/coin/rep.png');
    background-repeat: no-repeat;
}
.icon-XRP {
    background: url('../image/coin/xrp.png');
    background-repeat: no-repeat;
}
.icon-ZEC {
    background: url('../image/coin/zec.png');
    background-repeat: no-repeat;
}
.icon-LTC {
    background: url('../image/coin/ltc.png');
    background-repeat: no-repeat;
}
.icon-DASH {
    background: url('../image/coin/dash.png');
    background-repeat: no-repeat;
}
.icon-ZAIF {
    background: url('../image/coin/zaif.png');
    background-repeat: no-repeat;
}
.icon-XCP {
    background: url('../image/coin/xcp.png');
    background-repeat: no-repeat;
}
.icon-BCY {
    background: url('../image/coin/bcy.png');
    background-repeat: no-repeat;
}
.icon-SJCX {
    background: url('../image/coin/sjcx.png');
    background-repeat: no-repeat;
}
.icon-FSCC {
    background: url('../image/coin/fscc.png');
    background-repeat: no-repeat;
}
.icon-PEPECASH {
    background: url('../image/coin/pepecash.png');
    background-repeat: no-repeat;
}
.icon-CICC {
    background: url('../image/coin/cicc.png');
    background-repeat: no-repeat;
}
.icon-NCXC {
    background: url('../image/coin/ncxc.png');
    background-repeat: no-repeat;
}
.icon-JPYZ {
    background: url('../image/coin/jpyz.png');
    background-repeat: no-repeat;
}
.icon-COMSA-ETH {
    background: url('../image/coin/comsa.png');
    background-repeat: no-repeat;
}
.icon-COMSA-XEM {
    background: url('../image/coin/comsa.png');
    background-repeat: no-repeat;
}
.icon-BNB {
    background: url('../image/coin/bnb.png');
    background-repeat: no-repeat;
}
.icon-NEO {
    background: url('../image/coin/neo.png');
    background-repeat: no-repeat;
}
.icon-BCC {
    background: url('../image/coin/bcc.png');
    background-repeat: no-repeat;
}
.icon-GAS {
    background: url('../image/coin/gas.png');
    background-repeat: no-repeat;
}
.icon-HSR {
    background: url('../image/coin/hsr.png');
    background-repeat: no-repeat;
}
.icon-MCO {
    background: url('../image/coin/mco.png');
    background-repeat: no-repeat;
}
.icon-WTC {
    background: url('../image/coin/wtc.png');
    background-repeat: no-repeat;
}
.icon-LRC {
    background: url('../image/coin/lrc.png');
    background-repeat: no-repeat;
}
.icon-QTUM {
    background: url('../image/coin/qtum.png');
    background-repeat: no-repeat;
}
.icon-YOYO {
    background: url('../image/coin/yoyo.png');
    background-repeat: no-repeat;
}
.icon-OMG {
    background: url('../image/coin/omg.png');
    background-repeat: no-repeat;
}
.icon-ZRX {
    background: url('../image/coin/zrx.png');
    background-repeat: no-repeat;
}
.icon-STRAT {
    background: url('../image/coin/strat.png');
    background-repeat: no-repeat;
}
.icon-SNGLS {
    background: url('../image/coin/sngls.png');
    background-repeat: no-repeat;
}
.icon-BQX {
    background: url('../image/coin/bqx.png');
    background-repeat: no-repeat;
}
.icon-KNC {
    background: url('../image/coin/knc.png');
    background-repeat: no-repeat;
}
.icon-FUN {
    background: url('../image/coin/fun.png');
    background-repeat: no-repeat;
}
.icon-SNM {
    background: url('../image/coin/snm.png');
    background-repeat: no-repeat;
}
.icon-IOTA {
    background: url('../image/coin/iota.png');
    background-repeat: no-repeat;
}
.icon-LINK {
    background: url('../image/coin/link.png');
    background-repeat: no-repeat;
}
.icon-XVG {
    background: url('../image/coin/xvg.png');
    background-repeat: no-repeat;
}
.icon-CTR {
    background: url('../image/coin/ctr.png');
    background-repeat: no-repeat;
}
.icon-SALT {
    background: url('../image/coin/salt.png');
    background-repeat: no-repeat;
}
.icon-MDA {
    background: url('../image/coin/mda.png');
    background-repeat: no-repeat;
}
.icon-MTL {
    background: url('../image/coin/mtl.png');
    background-repeat: no-repeat;
}
.icon-SUB {
    background: url('../image/coin/sub.png');
    background-repeat: no-repeat;
}
.icon-EOS {
    background: url('../image/coin/eos.png');
    background-repeat: no-repeat;
}
.icon-SNT {
    background: url('../image/coin/snt.png');
    background-repeat: no-repeat;
}
.icon-MTH {
    background: url('../image/coin/mth.png');
    background-repeat: no-repeat;
}
.icon-ENG {
    background: url('../image/coin/eng.png');
    background-repeat: no-repeat;
}
.icon-DNT {
    background: url('../image/coin/dnt.png');
    background-repeat: no-repeat;
}
.icon-BNT {
    background: url('../image/coin/bnt.png');
    background-repeat: no-repeat;
}
.icon-AST {
    background: url('../image/coin/ast.png');
    background-repeat: no-repeat;
}
.icon-OAX {
    background: url('../image/coin/oax.png');
    background-repeat: no-repeat;
}
.icon-ICN {
    background: url('../image/coin/icn.png');
    background-repeat: no-repeat;
}
.icon-BTG {
    background: url('../image/coin/btg.png');
    background-repeat: no-repeat;
}
.icon-EVX {
    background: url('../image/coin/evx.png');
    background-repeat: no-repeat;
}
.icon-REQ {
    background: url('../image/coin/req.png');
    background-repeat: no-repeat;
}
.icon-VIB {
    background: url('../image/coin/vib.png');
    background-repeat: no-repeat;
}
.icon-TRX {
    background: url('../image/coin/trx.png');
    background-repeat: no-repeat;
}
.icon-POWR {
    background: url('../image/coin/powr.png');
    background-repeat: no-repeat;
}
.icon-ARK {
    background: url('../image/coin/ark.png');
    background-repeat: no-repeat;
}
.icon-MOD {
    background: url('../image/coin/mod.png');
    background-repeat: no-repeat;
}
.icon-ENJ {
    background: url('../image/coin/enj.png');
    background-repeat: no-repeat;
}
.icon-STORJ {
    background: url('../image/coin/storj.png');
    background-repeat: no-repeat;
}
.icon-VEN {
    background: url('../image/coin/ven.png');
    background-repeat: no-repeat;
}
.icon-KMD {
    background: url('../image/coin/kmd.png');
    background-repeat: no-repeat;
}
.icon-RCN {
    background: url('../image/coin/rcn.png');
    background-repeat: no-repeat;
}
.icon-NULS {
    background: url('../image/coin/nuls.png');
    background-repeat: no-repeat;
}
.icon-RDN {
    background: url('../image/coin/rdn.png');
    background-repeat: no-repeat;
}
.icon-DLT {
    background: url('../image/coin/dlt.png');
    background-repeat: no-repeat;
}
.icon-AMB {
    background: url('../image/coin/amb.png');
    background-repeat: no-repeat;
}
.icon-BAT {
    background: url('../image/coin/bat.png');
    background-repeat: no-repeat;
}
.icon-BCPT {
    background: url('../image/coin/bcpt.png');
    background-repeat: no-repeat;
}
.icon-ARN {
    background: url('../image/coin/arn.png');
    background-repeat: no-repeat;
}
.icon-GVT {
    background: url('../image/coin/gvt.png');
    background-repeat: no-repeat;
}
.icon-CDT {
    background: url('../image/coin/cdt.png');
    background-repeat: no-repeat;
}
.icon-GXS {
    background: url('../image/coin/gxs.png');
    background-repeat: no-repeat;
}
.icon-POE {
    background: url('../image/coin/poe.png');
    background-repeat: no-repeat;
}
.icon-QSP {
    background: url('../image/coin/qsp.png');
    background-repeat: no-repeat;
}
.icon-BTS {
    background: url('../image/coin/bts.png');
    background-repeat: no-repeat;
}
.icon-XZC {
    background: url('../image/coin/xzc.png');
    background-repeat: no-repeat;
}
.icon-TNT {
    background: url('../image/coin/tnt.png');
    background-repeat: no-repeat;
}
.icon-FUEL {
    background: url('../image/coin/fuel.png');
    background-repeat: no-repeat;
}
.icon-MANA {
    background: url('../image/coin/mana.png');
    background-repeat: no-repeat;
}
.icon-BCD {
    background: url('../image/coin/bcd.png');
    background-repeat: no-repeat;
}
.icon-DGD {
    background: url('../image/coin/dgd.png');
    background-repeat: no-repeat;
}
.icon-ADX {
    background: url('../image/coin/adx.png');
    background-repeat: no-repeat;
}
.icon-ADA {
    background: url('../image/coin/ada.png');
    background-repeat: no-repeat;
}
.icon-PPT {
    background: url('../image/coin/ppt.png');
    background-repeat: no-repeat;
}
.icon-CMT {
    background: url('../image/coin/cmt.png');
    background-repeat: no-repeat;
}
.icon-XLM {
    background: url('../image/coin/xlm.png');
    background-repeat: no-repeat;
}
.icon-CND {
    background: url('../image/coin/cnd.png');
    background-repeat: no-repeat;
}
.icon-LEND {
    background: url('../image/coin/lend.png');
    background-repeat: no-repeat;
}
.icon-WABI {
    background: url('../image/coin/wabi.png');
    background-repeat: no-repeat;
}
.icon-TNB {
    background: url('../image/coin/tnb.png');
    background-repeat: no-repeat;
}
.icon-WAVES {
    background: url('../image/coin/waves.png');
    background-repeat: no-repeat;
}
.icon-GTO {
    background: url('../image/coin/gto.png');
    background-repeat: no-repeat;
}
.icon-ICX {
    background: url('../image/coin/icx.png');
    background-repeat: no-repeat;
}
.icon-OST {
    background: url('../image/coin/ost.png');
    background-repeat: no-repeat;
}
.icon-ELF {
    background: url('../image/coin/elf.png');
    background-repeat: no-repeat;
}
.icon-AION {
    background: url('../image/coin/aion.png');
    background-repeat: no-repeat;
}
.icon-NEBL {
    background: url('../image/coin/nebl.png');
    background-repeat: no-repeat;
}
.icon-BRD {
    background: url('../image/coin/brd.png');
    background-repeat: no-repeat;
}
.icon-EDO {
    background: url('../image/coin/edo.png');
    background-repeat: no-repeat;
}
.icon-WINGS {
    background: url('../image/coin/wings.png');
    background-repeat: no-repeat;
}
.icon-NAV {
    background: url('../image/coin/nav.png');
    background-repeat: no-repeat;
}
.icon-LUN {
    background: url('../image/coin/lun.png');
    background-repeat: no-repeat;
}
.icon-TRIG {
    background: url('../image/coin/trig.png');
    background-repeat: no-repeat;
}
.icon-APPC {
    background: url('../image/coin/appc.png');
    background-repeat: no-repeat;
}
.icon-VIBE {
    background: url('../image/coin/vibe.png');
    background-repeat: no-repeat;
}
.icon-RLC {
    background: url('../image/coin/rlc.png');
    background-repeat: no-repeat;
}
.icon-INS {
    background: url('../image/coin/ins.png');
    background-repeat: no-repeat;
}

.get-data-date {
    font-size:10px;
}

.coin-name {
    margin-left:25px;
}

.about-layout {
    margin-left: 30px;
}

.row-margin {
    margin-top: 10px;
}